<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-outsystems-experts-anbinappbrowserdownload" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>anb-inappbrowser-download</name>
    <js-module name="anb-inappbrowser-download" src="www/anb-inappbrowser-download.js">
        <clobbers target="cordova.plugins.anbinappbrowserdownload" />
    </js-module>

    <dependency id="cordova-plugin-inappbrowser" url="https://github.com/agoncalvesos/cordova-plugin-inappbrowser.git" commit="f5195cb4d5dca0a56cf59ea8210d33c0a4ea8aa6" />
    <dependency id="cordova-plugin-file-transfer" url="https://github.com/OutSystemsExperts/cordova-plugin-file-transfer.git" commit="1.5.1.os" />
    <dependency id="cordova-plugin-file-opener2" url="https://github.com/agoncalvesos/cordova-plugin-file-opener2.git" commit="b585db99c4161490691554eafef6c5946c111a37">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </dependency>

    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>Uses camera so you can take a picture of the contract</string>
        </config-file>
        <config-file target="*-Info.plist" parent="LSSupportsOpeningDocumentsInPlace">
          <true/>
    </config-file>
    </platform>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        </config-file>
    </platform>
</plugin>
